# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/

# Local storage or db files
*.sqlite
*.db
